<h4>Добавление нового пользователя</h4>
<form action="/user/new/" method="post">
    <label>Имя:<input type="text" name="name" required></label>
    <label>Дата рождения:<input type="date" name="birthday" required></label>
    <input type="submit" class="button">Создать</input>
</form>